main {
  text-align: center;
  margin-left: 4rem;
  height: auto;
  min-height: 120vh;
  overflow: hidden;
}

/*** Navbar Component ***/
.navbar-wrapper {
  position: fixed;
  height: 100vh;
  width: 4rem;
  --bg: #434343; /* changing the value of a css variable */
  background: var(--bg);
  transition: 0.5s;
}

.nav-active {
  width: var(--nav-width);
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  height: 100%;
  margin: 0;
  flex-direction: column;
  align-items: center;
}

.nav-item {
  width: 100%;
}

.menu {
  position: fixed;
  top: 0.2rem;
  left: 4rem;
  --color: #434343;
  color: var(--color);
  transition: 0.5s;
}

.nav-link {
  height: 3.5rem;
  margin-left: 0.8rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  --color: #4facfe;
  color: var(--color);
}

#home {
  margin-top: 3rem;
}

.link-des {
  margin-left: 0.8rem;
  display: block;
}

.d-none {
  display: none;
}

.menu-active {
  left: var(--left);
  --color: #4facfe;
  color: var(--color);
  transform: rotate(360deg);
}

/* Media Queries */

/*
  ##Device = Desktops
*/

@media (min-width: 1281px) {
}

/*
##Device = Laptops, Desktops
*/

@media (min-width: 1025px) and (max-width: 1280px) {
}

/*
##Device = Tablets, Ipads (portrait)
*/

@media (min-width: 768px) and (max-width: 1024px) {
}

/*
##Device = Tablets, Ipads (landscape)
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
*/

@media (min-width: 481px) and (max-width: 767px) {
  :root {
    --nav-width: 60% !important;
    --left: 50% !important;
  }
}

/*
##Device = Most of the Smartphones Mobiles (Portrait)
*/

@media (max-width: 480px) {
  :root {
    --nav-width: 80% !important;
    --left: 70% !important;
  }
}
